.fa-tree {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	height: 100%;
	padding: 10px 10px 0;
	// 折叠样式
	&.fa-tree__fold {
		.el-tree-node__expand-icon {
			display: none;
		}
	}
	.fa-tree__title {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
		> :first-child {
			flex: 1;
		}
		h4 {
			margin: 0;
			font-size: var(--el-font-size-large);
			font-weight: bold;
			color: var(--el-color-info-dark-2);
			letter-spacing: 0.5px;
		}
		.el-icon {
			font-size: var(--el-font-size-extra-large);
			cursor: pointer;
		}
	}
	.fa-tree__search-input {
		margin: 5px 0;
	}
	.fa-tree__scrollbar {
		flex: 1;
		padding-right: 10px;
		.el-tree {
			font-size: var(--el-font-size-base);
			.el-tree-node__content {
				height: 30px;
				padding: 0 3px;
				.el-tree-node__expand-icon {
					padding: 3px;
				}
				.el-tree-node__label {
					width: 100%;
					display: flex;
					flex-flow: row;
					justify-content: space-between;
					overflow: hidden;
					span {
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						.el-icon {
							font-size: var(--el-font-size-medium);
						}
					}
					span:first-child {
						flex: 1;
					}
					span:nth-child(2) {
						margin-left: 10px;
						.el-icon:nth-child(n + 2) {
							margin-left: 5px;
						}
					}
				}
			}
			.el-tree-node.is-current > .el-tree-node__content {
				background-color: var(--el-color-primary);
				color: var(--el-color-white);
				.is-leaf {
					color: transparent;
				}
			}
		}
	}
}

.fa-tree-small {
	.fa-tree__title {
		h4 {
			font-size: var(--el-font-size-medium);
		}
		.el-icon {
			font-size: var(--el-font-size-large);
		}
	}
	.fa-tree__scrollbar {
		.el-tree {
			font-size: var(--el-font-size-extra-small);
			.el-tree-node__content {
				height: 26px;
			}
		}
	}
}
