@use "./animation.scss";

/** 复制图标样式 */
.fa__copy-icon {
	margin-right: 3px;
	cursor: pointer;
}

/** 鼠标置入放大动画 */
.fa__hover__twinkle {
	transform-origin: center;
	&:hover {
		:first-child {
			animation: twinkle var(--el-transition-duration) linear;
		}
	}
}

/** 鼠标置入浮动动画 */
.fa__hover__suspension {
	transition: all var(--el-transition-duration) ease;
	&:hover {
		-webkit-transform: translateY(-4px) scale(1.02);
		-moz-transform: translateY(-4px) scale(1.02);
		-ms-transform: translateY(-4px) scale(1.02);
		-o-transform: translateY(-4px) scale(1.02);
		transform: translateY(-4px) scale(1.02);
		-webkit-box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2);
		box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2);
		border-radius: 6px;
	}
}

/** 鼠标点击禁止效果 */
.fa__click__disabled {
	&.fa__click__disabled__cursor {
		position: relative !important;
		pointer-events: auto !important;
	}
	pointer-events: none !important;
	&:hover {
		cursor: not-allowed !important;
	}
}
