.fa-drawer {
	--fa-drawer-header-height: 40px;
	--fa-drawer-footer-height: 45px;
	display: flex;
	flex-direction: column;
	font-size: var(--el-font-size-base);
	transition:
		all var(--el-transition-duration),
		width var(--el-transition-duration);
	.el-drawer__header {
		height: var(--fa-drawer-header-height);
		border-bottom: 1px solid var(--el-border-color-lighter);
		padding: 0;
		padding-left: 10px;
		margin: 0;
		display: flex;
		align-items: center;
		.fa-drawer__header-title {
			flex: 1;
		}
		.fa-drawer__header-icon {
			width: 30px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			.el-icon {
				width: 100%;
				height: 100%;
				font-size: var(--el-font-size-large);
				color: var(--el-color-info);
			}
		}
	}
	.el-drawer__body {
		overflow: hidden;
		padding: 8px;
		.fa-drawer__draggable {
			height: 100%;
			width: 5px;
			cursor: w-resize;
			position: absolute;
			left: -2.5px;
			top: 0;
		}
		> .el-scrollbar {
			> .el-scrollbar__wrap {
				> .el-scrollbar__view {
					height: 100%;
				}
			}
		}
	}
	.el-drawer__footer {
		height: var(--fa-drawer-footer-height);
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: right;
		border-top: 1px solid var(--el-border-color-lighter);
	}
	// 拖拽
	&.fa-drawer__dragging {
		// 解决拖拽宽度卡顿的问题
		transition: width 0s !important;
	}
	// 全屏
	&.fa-drawer__fullscreen {
		width: 100% !important;
	}
}

.fa-drawer-small {
	--fa-drawer-header-height: 35px;
	--fa-drawer-footer-height: 40px;
	padding: 0 6px;
	font-size: var(--el-font-size-extra-small);
	.el-drawer__header {
		.fa-drawer__header-icon {
			width: 25px;
			.el-icon {
				font-size: var(--el-font-size-medium);
			}
		}
	}
}
